paths:
  references:
    ref1: "/path/to/ref1"
    ref2: "/path/to/ref2"

filters:
    - ge_08
    - lt_08

samples:
    sample1:
        pod5: "/path/to/pod5s"
    sample2:
        pod5: "/path/to/pod5s2"

basecallers:
  dorado:
    bin: "dorado"

resources:
    default:
        partition: main
        threads: 1
        mem_mb: 4000
        runtime: 30
        slurm_extra: ""
        params_extra: ""
    basecall_dorado:
        partition: gpu
        threads: 8
        mem_mb: 32000
        runtime: 1440
        slurm_extra: "--gres=gpu:1"
        params_model: "hac,5mCG_5hmCG"
